.items{

}
.links-ul{
  list-style: none;
}
.links-li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background: #999;
  height: 36px;
  margin-bottom: 5px;
  text-align: left;
}
.item-title{
  padding-left: 10px;
  flex-grow:1;
  border-right: 0.5px solid red;
}
.item-links{
  padding-left: 10px;
  flex-grow:5 ;
}